::placeholder {
  color: #cccccc;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #cccccc;
}

input {
  padding: 7px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #999999;
  width: 95%;
}

input:focus {
  outline: none;
}
